<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>To: Cents</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{{!-- Dots Profile code --}}
<body>
   
 
    <input type="checkbox" id="check"> 
  <!--header area start-->
  {{!-- <header>
    <div class="right_area">
      <label for="check">
          <i class="fas fa-bars Menu-btn" id="sidebar_btn"></i>
          <span>
              <img src="">
          </span>
        </label>
      <!-- <a href="#" class="logout_btn">Logout</a> -->
    </div>
    <hr>
    
  </header>  --}}


  <div class="sidebar">
    <div class="profile_info">
      <img src="img/images/logo (2cents).png" class="profile_image" alt="">
      <h4>Dashboard</h4>
    </div>
    <a href="#"><img class="site-Icons" src="img/images/home button_HouseYellow.png"><span class="menu-dash">Home</span></a>
    <a href="#"><img class="site-Icons" src="img/images/Profile-Icon_YellowMan.png"><span class="menu-dash"><span>Profile</span></a>
    <a href="#"><img class="site-Icons" src="img/images/Community-Icon_BlueManYellowGroup.png"><span class="menu-dash"></i><span>Community</span></a>
    <a href="#"><img class="site-Icons" src="img/images/Logout-Yellow.png"><span class="menu-dash"><span>Logout</span></a>
  
  </div> --}}

  {{!-- Dots profile code --}}
    <section class="profile-content">  
    
        <div class="profileCard">
            <div >
                <img class="profileAvatar" {{#if logged_in}}src="img/images/Profile-Icon_YellowMan.png" {{else}} src="{{userPic}}" {{/if}}>
    
            </div>

            <div class="statBox">
                <h1>Welcome</h1>
                Memeber Visits: {{countVisit}}
                <hr>
                <b>User</b>: {{username}}  
                <hr>
                <b>Role</b>: All Access!
                <hr>
                <b>About</b>: I enjoy writing about the world I see daily.
                <hr>
                <b>Stats</b>: 10,000Pennies 10,000Likes

            </div>
            
        </div>

        
        <div class="userInfo1">
          
            <div>
                <form method="POST" action="/api/users/uploads" enctype="multipart/form-data">
                <div>
                <label "uploadText">Upload profile picture</label>
                <input type="file" class="custom-file-choose profilePic" name="profile-file" required/>
                </div>
                <div>
                <input class="profilePicButton" type="submit" value="Upload" />
                </div>
                </form> --}}


                {{!-- <form method="POST" action="/api/users/uploads" enctype="multipart/form-data">
                    <div>
                        <span class="uploadText">Upload profile picture</span>
                        <label  for="file" class="custom-file-choose profilePic">Choose File</label>
                        <input type="file" class="profilePicButton" name="profile-file" required/>
                    </div>

                    <div>
                        <label  for="submit" class="custom-file-upload">Upload</label>
                        <input type="submit" value="Upload"/>
                    </div>
                </form> --}}
                
                
            </div>

        </div>
            
            <div class="userInfo2"> 
                <div class="interestBox">
                    My "To:Cents" Posts:
                    <hr>
            
                </div>

            </div>

            <div class="userInfo3">

            
                <div class="interestBox">
                    Likes/Interest/Comments:
                    <hr>

                </div>

                </div>
            
            
        </div>




    
    </section>

    
</body>




{{!-- Rells Profile page code --}}
{{!-- <section>
    <div>
        This is the profile page!
        <aside>
            <div class="profileCard">
                <img class="profileAvatar" src="{{userPic}}">
                <div class="statBox">
                    Memeber Visits: {{countVisit}}
                    <hr>
                    <b>User</b>: {{username}}  
                    <hr>
                    <b>Role</b>: All Access!
                    <hr>
                    <b>About</b>: I enjoy writing about the world I see daily.
                    <hr>
                    <b>Stats</b>: 10,000Pennies 10,000Likes
                </div>
            </div>
        </aside>
    </div>

</section>

<section class="userInfo">
    <div class="profilePostBox">
        <form method="POST" action="/api/users/uploads" enctype="multipart/form-data">
    <div>
        <label>Upload profile picture</label>
        <input type="file" class="profilePic" name="profile-file" required/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>
        To Cents:
        post

    <hr>
    </div>
    

    <div class="interestBox">
        Likes/interest/Comments:
        <hr>

    </div>
</section> --}}
    {{!-- <script src="/js/fileUpload.js"></script> --}}
    {{!-- <script src="/js/s3.js"></script> --}}
    {{#if isMember}}
    <script src="/js/logout.js"></script>
    {{/if}}